table { border: 1px; width: 100%; 
}
img { height: 40%; width: 40%;
}
div { text-align: center;
}
h1,h3,h5 { text-align: center;
}
tr:nth-child(even) { background-color: orange;
}
tr:nth-child(odd) { background-color: red;
}
th {background-color: lightblue;
}
a {}
a:link { text-decoration: none;
}
a:visited { text-decoration: none;}
a:hover{ text-decoration: underline; background-color: lightgreen;
}
a:active { text-decoration: none;}