.nav { font-size: 14pt;
}
li { display: inline; margin: 15px;
}
h1 { text-align: center; font-family: Bangers; text-shadow: 2px 2px rgb(255, 191, 0);
}
h3,h4 { text-align: center;
}
body { background: lightgreen;
}
.col-md-4 { text-align: center;
}
a {color: lightgreen;
}
a:link {color: lightgreen;
}
a:visited {color: orange;
}
a:hover {font-weight: bold;
}
a:active {text-decoration: none;
}